body {
  font-family: 'Arial', Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

#worm {
  padding-bottom: 1rem;
}

.jumbotron {
  padding-top: 0rem !important;
  padding-bottom: 1.5rem !important;
  margin-bottom: 0rem !important;
}

h2 {
  color: #007bff !important;
}


